/* .userlog{
    margin-left: 35%;
    width: 542px;
    height: 494px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

Form{
    margin-top: 20px;
    width: 420px;
    padding-left: 140px;
}

.loginTitle{
    margin-left: 30px;
    margin-top: 30px;
  font-family: serif ;
  font-weight: bolder;
  font-size: 30px;
  font-style: oblique;
  font-stretch: ultra-expanded;

  text-transform: uppercase;

  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-control {
    display: block;
    width: 110%;

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
} */





.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 81vh;
  }
  
  .Auth-form {
    width: 420px;
    height: 380px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }