@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


body{
  background-color: rgb(217, 212, 212);
}
h1 {
  margin-left: 5%;
  /* margin-left: 4px; */
  font-family: serif ;
  font-weight: bolder;
  font-size: 300%;
  font-style: oblique;
  font-stretch: ultra-expanded;
  text-decoration: underline;
  text-shadow: 2px 2px;
}



